In [27]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ny_taxi')

In [29]:
engine.connect()

In [3]:
pd.__version__

'2.2.3'

In [6]:
df = pd.read_csv("green_tripdata_2019-10.csv", nrows=100)

In [16]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data_100 (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [10]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [37]:
df_iter = pd.read_csv("green_tripdata_2019-10.csv", iterator=True, chunksize=50000)

In [33]:
df = next(df_iter)

In [34]:
len(df)

50000

In [35]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [24]:
%time df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 22.3 s
Wall time: 37.2 s

1000

In [25]:
from time import time

In [38]:
while True:
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 10.264 second
inserted another chunk, took 10.267 second
inserted another chunk, took 11.261 second
inserted another chunk, took 10.841 second
inserted another chunk, took 10.425 second
inserted another chunk, took 10.777 second
inserted another chunk, took 10.853 second
inserted another chunk, took 10.695 second
inserted another chunk, took 10.668 second
inserted another chunk, took 4.648 second

StopIteration: